<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Root Finder</title>
    <link rel="stylesheet" href="/static/css/style4.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-MML-AM_CHTML" async></script>
</head>
<body class="container">
    
    <h1>Bracket Method</h1>
    <h1>Root Finder</h1>
    <form id="calculate-form">
        <label for="function">Function:</label>
        <input type="text" id="function" name="function" required placeholder="Contoh : x**3 - 4*x - 9">
    
        <label for="a">Interval XL :</label>
        <input type="number" id="a" name="a" required>
    
        <label for="b">Interval XU :</label>
        <input type="number" id="b" name="b" required>
    
        <label for="tolerance">Tolerance:</label>
        <input type="number" step="0.000001" id="tolerance" name="tolerance" required>
    
        <label for="iterations">Max Iterations:</label>
        <input type="number" id="iterations" name="iterations" required>
    
        <label for="method">Method:</label>
        <select id="method" name="method" required>
            <option value="bisection">Bisection Method</option>
            <option value="regula_falsi">Regula Falsi Method</option>
            <option value="secant">Brent's Method</option>
        </select>
    
        <div class="button-wrapper">
            <button type="submit">Calculate</button>
        </div>   
    </form>
    
    <div id="solution-steps"></div>

    <div class="table-container">
        <div id="result-table">
            <h2>Hasil Iterasi</h2>
            <table>
                <thead>
                    <tr>
                        <th>Iteration</th>
                        <th>xl</th>
                        <th>xu</th>
                        <th>xr</th>
                        <th>f(xl)</th>
                        <th>f(xu)</th>
                        <th>f(xr)</th>
                        <th>f(xl) * f(xr)</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
    
    <footer class="text-center mt-5 p-3 bg-light">
        <p>&copy; 2025 Root Finder Application. Created by <strong>Shdyt.S</strong></p>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/static/js/main.js"></script>
</body>
</html>
